##Backend
npm install express mongoose dotenv cors body-parser
npm install --save-dev nodemon
npm install mongodb
npm install bcryptjs
npm install jsonwebtoken


##Frontend
npx create-next-app@latest .
npm install @mui/material @emotion/react @emotion/styled
npm install react-awesome-reveal react-icons
npm install axios
